/* Samuel de la Calle Fernández, UO295358*/

/* Estilos generales del proyecto MotoGP-Desktop*/

body   {
    background-color: #7F4AA4;
    color: #FBEE0F;
    font-family: Verdana, Geneva, sans-serif
}

header {
    background-color: #7F4AA4;
}

h1 {
    color: #FBEE0F;
}

nav {
    color: #FBEE0F;
}

/* Color de fondo: #7F4AA4 Color de frente: #FBEE0F */